.svgStyle {
  font-size: 48px;
  stroke: #ffffff;
  paint-order: stroke;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  font-weight: 900;
}

.textStroke {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.textUp {
  animation: slideUpFill ease-in 0.75s forwards;
}
.textDown {
  animation: slideDownFill ease-in 0.75s forwards;
}
.textDownEmpty {
  animation: slideDownEmpty ease-out 0.75s;
}
.textUpEmpty {
  animation: slideUpEmpty ease-out 0.75s;
}

@keyframes slideUpFill {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    color: #ffffff;
  }
}

@keyframes slideDownFill {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    color: #ffffff;
  }
}

@keyframes slideDownEmpty {
  0% {
    transform: translateY(0);
    color: #fff;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    color: transparent;
  }
}
@keyframes slideUpEmpty {
  0% {
    transform: translateY(0);
    color: #fff;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    color: transparent;
  }
}
